<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Domain Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body class="<%= yield(:body_class) || 'bg-gray-200' %>">
    <main class="container mx-auto">
      <% if current_user.present? %>
        <nav class="flex gap-2 items-center justify-between flex-wrap p-2 bg-gray-100 rounded-md
mt-2">
          <div class="font-bold text-gray-700">
            Domain Manager
          </div>
          <div class="flex grow justify-end gap-4 text-gray-600 text-sm">
            <%= link_to "Zones", dns_zones_path, class: "hover:text-black hover:decoration-dotted hover:underline
hover:underline-offset-4" %>
            <%= link_to "API", api_tokens_path, class: "hover:text-black hover:decoration-dotted hover:underline
hover:underline-offset-4" %>
            <%= link_to "Logout (#{current_user.name})", logout_path, method: :delete, class: "hover:text-red-600 transition" %>
          </div>
        </nav>
      <% end %>
      <!-- Main Content -->
      <%= yield %>
    </main>
  </body>
</html>
